<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pk3DSRNGTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Pk3DSRNGTool.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="ShinyCharm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Advance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TSV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Poke" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameVersion" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Method" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_Method" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ST3" serializeAs="String">
                <value>426368620</value>
            </setting>
            <setting name="ST2" serializeAs="String">
                <value>225383913</value>
            </setting>
            <setting name="ST1" serializeAs="String">
                <value>1611825046</value>
            </setting>
            <setting name="ST0" serializeAs="String">
                <value>2024052142</value>
            </setting>
            <setting name="TSVList" serializeAs="String">
                <value />
            </setting>
            <setting name="Category" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>192.168.0.1</value>
            </setting>
            <setting name="Ivspread" serializeAs="String">
                <value />
            </setting>
            <setting name="Key" serializeAs="String">
                <value>11989707411478653366</value>
            </setting>
        </Pk3DSRNGTool.Properties.Settings>
    </userSettings>
</configuration>